<%#= javascript_include_tag "function.js" %>
<%= link_to "topページ", root_path %>
<p>jQuery稼働テスト(未稼働)</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>
<div class="box-1">
  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
</div>
<div class="box-2">
  <div class="box5"></div>
  <div class="box6"></div>
</div>