/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-1 {
  display: flex;
  height: 200px;
  width: 800px;
}

.box-2 {
  display: flex;
  height: 200px;
  width: 800px;
}


.box1 {
  display: none;
  background-color: #F00;
  height: 200px;
  width: 200px;
}

.box2 {
  background-color: #F0F;
  height: 200px;
  width: 200px;
}

.box3 {
  display: none;
  background-color: #ff0;
  height: 200px;
  width: 200px;
}

.box4 {
  background-color: #0F0;
  height: 200px;
  width: 200px;
}

.box5 {
  display: none;
  background-color: #00F;
  height: 200px;
  width: 200px;
}

.box6 {
  background-color: #0FF;
  height: 200px;
  width: 200px;
}

.box-over {
  border: 10px solid black;
  height: 180px;
  width: 180px;
}

.box-click {
  border: 20px solid blue;
  height: 160px;
  width: 160px;
}

.square1 {
  background-color: #FFFFFF;
  height: 200px;
  width: 200px;
  float: left;
}

.this {
  height: 300px;
  width: 800px;
}

.children {
  height: 300px;
  width: 800px;
}

.bg1 {
  background-color: #FFAAAA;
}

.bg2 {
  background-color: #FFBBBB;
}

.bg3 {
  background-color: #FFCCCC;
}

.bg4 {
  background-color: #FFDDDD;
}


#skippr{
  height: 600px;
}

.image1 {
  background-image: url(test1.jpg);
}
.image2 {
  background-image: url(test2.jpg);
}
.image3 {
  background-image: url(test3.jpg);
}
.image4 {
  background-image: url(test4.jpg);
}
.image5 {
  background-image: url(test5.jpg);
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
